{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
<form method="POST">
  <div class="row">
    {{ range $element := .Notes }}
      <div class="col-sm-3 event" style="margin:30px; border: 1px solid {{ $element.Color }}">
        <button value="{{ $element.FullPath }}" name="submit">{{ $element.Name }}</button>
      </div>
    {{ end }}
  </div>
</div>
{{ if ne .Title "KB" }}
<div class="container d-flex justify-content-center" style="text-align:center;background:#1b1b1b;margin-top:50px;padding:20px">
  <button value="{{ .Title }}" name="back">Go Back!</button>
</div>
{{ end }}
</form>
{{ end }}

